@import "tailwindcss";

@theme {
  --color-shop-black: #273238;
  --color-shop-orange: #FF6B35;
  --font-satoshi: "Satoshi", "sans-serif";
}

body {
  font-family: "Satoshi", sans-serif;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 640px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
